<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="userName">Benutzername</label>
          <input
            type="text"
            name="userName"
            #nameInput="ngModel"
            class="form-control"
            [(ngModel)]="model.userName"
            required
          />
        </div>
        <!-- set to false to hide the states -->
        <ng-container *ngIf="true">
          <p>
            Valid:
            <span [class]="nameInput.valid ? 'green' : 'red'">{{
              nameInput.valid
            }}</span>
          </p>
          <p>
            Invalid:
            <span [class]="nameInput.invalid ? 'green' : 'red'">{{
              nameInput.invalid
            }}</span>
          </p>
          <p>
            Pristine:
            <span [class]="nameInput.pristine ? 'green' : 'red'">{{
              nameInput.pristine
            }}</span>
          </p>
          <p>
            Dirty:
            <span [class]="nameInput.dirty ? 'green' : 'red'">{{
              nameInput.dirty
            }}</span>
          </p>
          <p>
            Touched:
            <span [class]="nameInput.touched ? 'green' : 'red'">{{
              nameInput.touched
            }}</span>
          </p>
          <p>
            Untouched:
            <span [class]="nameInput.untouched ? 'green' : 'red'">{{
              nameInput.untouched
            }}</span>
          </p>
        </ng-container>
        <div
          class="alert alert-danger"
          [hidden]="nameInput.valid || nameInput.pristine"
        >
          Du musst ein Passwort eingeben!
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            #pwdInput="ngModel"
            class="form-control"
            id="password"
            [(ngModel)]="model.password"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          [hidden]="pwdInput.valid || pwdInput.pristine"
        >
          Du musst ein Passwort eingeben!
        </div>
        <button
          [disabled]="!loginForm.form.valid"
          type="submit"
          class="btn btn-primary"
        >
          Login
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="alert alert-danger" *ngIf="loginError">
        Der Login war nicht erfolgreich!
      </div>
    </div>
  </div>
</div>
